.nav {
  padding: 0px 48px;
  font-size: 20px;
  line-height: 30px;
}

.nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

a {
  font-size: 20px;
  line-height: 30px;
  text-decoration: none;
  color: inherit;
}
