.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.project-card {
  display: flex;
  flex: 0 0 calc((100% - 2 * 32px) / 3);
  flex-direction: column;
  gap: 24px;
  box-sizing: border-box;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
}

.project-card:hover {
  border: 1px solid #5677fc;
  background-color: #e8eeff;
  cursor: pointer;
}

.project-card .schedule {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  margin: 0px 32px;
  margin-top: 24px;
}

.project-card .project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0px 32px;
}

.project-card .project-info .participants {
  display: flex;
  gap: 8px;
}

.project-card .request {
  margin: 0px 32px;
  margin-bottom: 24px;
}

.project-card .date {
  font-size: clamp(1rem, 2.5% + 0.6rem, 1.2rem);
}
