.footer {
  margin-top: 160px;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 56px 0px;
  align-items: flex-start;
}

.footer .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.social {
  display: flex;
  gap: 20px;
}
