.header {
  padding: 24px 0px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_navigation {
  background: black;
  border: 1px solid black;
  border-radius: 100px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exit_button {
  margin-left: auto;
  display: inline-flex;
}

.exit_link {
  display: inline-flex;
}
