.svg {
  color: blue;
}

.ball {
  color: blue;
}

.bus {
  color: blue;
}

.camera {
  color: blue;
}

.clock {
  color: blue;
}

.mac {
  color: blue;
}

.star {
  color: blue;
}

.exit {
  color: black;
}
