* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

#root {
  width: 100%;
}

.main_container {
  max-width: 1160px;
  margin: 0 auto;
}
